/nuitka-crash-report.xml
/.idea/shelf/_____19_03_2026__01_12___.xml
/.idea/jsLibraryMappings.xml
/build-arm/nfprogress-mac-arm-3.3.19.dmg
/build-arm/nfprogress-mac-arm-3.3.19.zip
/build-intel/nfprogress-mac-intel-3.3.19.zip
/.idea/nfprogress_python.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2026,_15_39_[Изменения]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2026,_15_21_[Изменения]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Изменения]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Изменения]1/shelved.patch
/.idea/shelf/Несохранённые_изменения_перед_Переключение_от_19_03_2026,_01_12_[Изменения]/shelved.patch
/.idea/shelf/Несохранённые_изменения_перед_Переключение_от_19_03_2026,_01_12_[Изменения]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2026__15_39___.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2026__15_21___.xml
/.idea/shelf/Uncommitted_changes_before_rebase___.xml
/.idea/shelf/Uncommitted_changes_before_rebase___1.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build-arm/
/build-intel/
/update_manifest_legacy.json
