<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>A5D3C522-F017-48CC-8C36-D5727CE86C2B</key>
		<array>
			<string>208EA754-700E-4D03-A455-E60D50E2223C</string>
		</array>
	</dict>
	<key>HistoryCalendarType</key>
	<integer>0</integer>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>HistoryUsesChars</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>00A1FB04-8EE9-4AB7-BA31-B67C9C15015E</key>
		<dict>
			<key>BinderUUID</key>
			<string>00A1FB04-8EE9-4AB7-BA31-B67C9C15015E</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 403 475 528 0 0 1920 1055 </string>
		</dict>
		<key>208EA754-700E-4D03-A455-E60D50E2223C</key>
		<dict>
			<key>BinderUUID</key>
			<string>208EA754-700E-4D03-A455-E60D50E2223C</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.75</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>402 185 475 528 0 0 1280 775 </string>
		</dict>
		<key>221A7A12-5A80-4CAF-8C46-9A33C900B730</key>
		<dict>
			<key>BinderUUID</key>
			<string>221A7A12-5A80-4CAF-8C46-9A33C900B730</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 414 475 528 0 0 1920 1055 </string>
		</dict>
		<key>770A9D5A-8CB4-40F8-A15F-771565C07735</key>
		<dict>
			<key>BinderUUID</key>
			<string>770A9D5A-8CB4-40F8-A15F-771565C07735</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>772 -632 475 528 290 -900 1440 875 </string>
		</dict>
		<key>B9048750-E5C5-41FE-9983-9A43771BE377</key>
		<dict>
			<key>BinderUUID</key>
			<string>B9048750-E5C5-41FE-9983-9A43771BE377</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>746 -632 475 528 264 -900 1440 875 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 654}}</string>
		<string>{{176, 0}, {1104, 654}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>Project</key>
		<dict>
			<key>DocID</key>
			<string>A6C51DD9-F2F2-4FA1-B3AC-CF845D703E58</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>1</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 103.5}}</string>
		<string>{{0, 104.5}, {175, 523.5}}</string>
	</array>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {768, 224}}</string>
	</array>
	<key>exportFilesFormat</key>
	<integer>3</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1004</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {859, 624}}</string>
		<string>{{860, 0}, {244, 624}}</string>
	</array>
	<key>mainDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {749, 871}}</string>
		<string>{{750, 0}, {749, 871}}</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 3127.4285714285711}, {490.85714285714283, 324.5714285714289}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>129 -831 1440 806 129 -900 1440 875 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<integer>1</integer>
		<key>currentCompileGroupOnly</key>
		<integer>0</integer>
		<key>excludeAnnots</key>
		<integer>0</integer>
		<key>excludeFN</key>
		<integer>0</integer>
		<key>includeSubdocs</key>
		<integer>1</integer>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<integer>0</integer>
		<key>useFastStats</key>
		<integer>1</integer>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 294}}</string>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
